@media all and (max-width:480px) {
   .botao-mobile { width: 100%; margin-bottom: 5px; float: inherit; }
}

.fundo_index{background-image:url(../img/sistema/fundo.jpg); background-size: cover; }

.letras_finas{font-weight: 300;}
.font-12{font-size: 12px}
.font-14{font-size: 14px}

.ajusta_botao{ margin-top: 20px; border: 1px solid red; }

.lixeira{ margin-top: 26px }

.lixeira_icon{ font-size: 2em; }

.linha{width: 100%; height: 1px; background: #e9ecef}

.upper{text-transform: uppercase;}

.avisos-sistema{margin-top: 60px; margin-bottom: 0; font-weight: 300; text-transform: uppercase; padding: 13px}

.cursor{cursor: pointer;}

.icones_listagem{font-size: 16px; padding: 0}
.icones_listagem i{ padding: 0; margin:0;}
