<IfModule mod_rewrite.c>
    
	#Bloquear listagem
	Options -Indexes

	Options +FollowSymLinks
	RewriteEngine on

	DefaultLanguage pt-BR
	AddDefaultCharset UTF-8

	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	

	#INICIO**************************************************************
	RewriteRule ^home?$ home.php [L,QSA]
	RewriteRule ^login?$ index.php [L,QSA]


	#VIEWS**************************************************************

	RewriteRule ^clientes?$ views/cadastros/listagem/lista_clientes.php [L,QSA]
	RewriteRule ^cadastros/clientes/novo?$ views/cadastros/forms/cad_clientes.php [L,QSA]

	RewriteRule ^fornecedores?$ views/cadastros/listagem/lista_fornecedores.php [L,QSA]
	RewriteRule ^cadastros/fornecedores/novo?$ views/cadastros/forms/cad_fornecedores.php [L,QSA]

	RewriteRule ^produtos?$ views/cadastros/listagem/lista_produtos.php [L,QSA]
	RewriteRule ^cadastros/produtos/novo?$ views/cadastros/forms/cad_produtos.php [L,QSA]

	RewriteRule ^categorias?$ views/cadastros/listagem/lista_categorias.php [L,QSA]
	RewriteRule ^cadastros/categorias/novo?$ views/cadastros/forms/cad_categorias.php [L,QSA]
	RewriteRule ^cadastros/categorias/save?$ controlers/cadastros/salva_categoria.php [L,QSA]
	RewriteRule ^cadastros/categorias/edita/(.*)?$ views/cadastros/forms/cad_categorias.php?id=$1 [L,QSA]

	RewriteRule ^servicos?$ views/cadastros/listagem/lista_servicos.php [L,QSA]
	RewriteRule ^cadastros/servicos/novo?$ views/cadastros/forms/cad_servicos.php [L,QSA]
	
	RewriteRule ^exemplo/(.*)?$ views/pasta_exemplo/arquivo_exemplo.php?id=$1 [L,QSA]	
	RewriteRule ^exemplo/pasta_exemplo/(.*)/(.*)?$ pasta_exemplo/pasta_exemplo/arquivo_exemplo.php?id=$1&id2=$2 [L,QSA]	
	

	#CONTROLERS**************************************************************




</IfModule>